$sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;

a {
  @include link-transition(350ms);

  color: $blue;
  text-decoration: none;
  outline: 0;

  &:active,
  &:focus,
  &:hover {
    color: $pink;
  }

  &:visted {
    color: $blue;
  }

}

@mixin PinkTitle($size: rem-calc(100)) {
  color: $semple-pink;
  font-family: $sans-serif;
  text-align: center;
  font-size: $size;
  line-height: calc(#{$size} * 1.05);
}