.jobs,
.countries {
  &__description-container {
    @include max-width-row();
  }

  &__text-area {
    @include flex-grid-column(8);
  }

  &__sidebar {
    @include flex-grid-column(3);
  }

  &__sidebar-title {
    @include TitleUnderline(rem-calc(50), $semple-pink, $semple-yellow);
  }

  &__sidebar-position {
    @include BodyTypeSS(rem-calc(25), $brand-navy);
  }

}

.jobs {

  &__sidebar-list {
    @include BodyTypeSS();

    list-style-type: none;
    padding: 0;
  }

  &__text-area {
    @include BodyType($size: rem-calc(28), $color: $brand-navy);
    margin-top: rem-calc(30);
  }
}


.countries {

  &__sidebar-list {
    @include BodyTypeSS(rem-calc(28), $brand-navy);

    list-style-type: none;
    padding: 0;
  }

  &__text-area {
    @include BodyType($size: rem-calc(24), $color: $brand-navy);

    margin-top: rem-calc(35);
  }
}