.jobs,
.countries {
  &__description-row {
    @include max-width-row();
  }

  &__description-container {
    @include flex-grid-column(10);

    display: block;
    margin: rem-calc(10) auto;
    display: flex;
    justify-content: center;
  }

  &__text-area {
    width: 75%;
    // @include flex-grid-column(7);
  }

  &__sidebar {
    width: 25%;
    // @include flex-grid-column(3);
  }

  &__sidebar-title {
    @include TitleUnderline(rem-calc(50), $semple-pink, $semple-yellow);
  }

  &__sidebar-position {
    @include BodyTypeSS(rem-calc(25), $brand-navy);
  }

}

.jobs {

  &__text-area {

    p{
      margin-right: rem-calc(10);
    }
  }

  &__sidebar-list {
    @include BodyTypeSS();

    list-style-type: none;
    padding: 0;
  }

  &__text-area {
    @include BodyType($size: rem-calc(28), $color: $brand-navy);
    margin-top: rem-calc(30);
  }
}


.countries {

  &__text-area {

    p{
      margin-left: rem-calc(15);
    }
  }

  &__sidebar-list {
    @include BodyTypeSS(rem-calc(28), $brand-navy);

    list-style-type: none;
    padding: 0;
  }

  &__text-area {
    @include BodyType($size: rem-calc(24), $color: $brand-navy);

    margin-top: rem-calc(35);
  }
}

@include breakpoint(medium) {

  @include breakpoint(landscape){
    .jobs,
    .countries {

      &__description-container {
        @include flex-grid-column(12);
        display: block;
        margin-top: 0;
      }

      &__text-area {
        width: 100%;

        p {
          @include BodyType($size: rem-calc(17.5), $color: $brand-navy);
          margin: 0;
          padding:0;
        }
      }

      &__sidebar {
        display: none;
      }

      &__sidebar-title {
        @include TitleUnderline(rem-calc(50), $semple-pink, $semple-yellow);
      }

      &__sidebar-position {
        @include BodyTypeSS(rem-calc(25), $brand-navy);
      }
    }
  }
}


@include breakpoint(small only) {

  .jobs,
  .countries {

    &__description-container {
      @include flex-grid-column(12);
      display: block;
      margin-top: 0;
    }

    &__text-area {
      width: 100%;

      p {
        @include BodyType($size: rem-calc(17.5), $color: $brand-navy);
        margin: 0;
        padding:0;
      }
    }

    &__sidebar {
      display: none;
    }

    &__sidebar-title {
      @include TitleUnderline(rem-calc(50), $semple-pink, $semple-yellow);
    }

    &__sidebar-position {
      @include BodyTypeSS(rem-calc(25), $brand-navy);
    }
  }
}