.jobs {
  &__description-container {
    @include max-width-row();
  }

  &__text-area {
    @include flex-grid-column(8);
  }

  &__sidebar {
    @include flex-grid-column(3.5);
  }

  &__sidebar-title {
    @include TitleUnderline(rem-calc(50), $semple-pink, $semple-yellow);
  }

  &__sidebar-list {
    @include BodyTypeSS();

    list-style-type: none;
    padding: 0;
  }

  &__sidebar-position {
    @include BodyTypeSS(rem-calc(25), $brand-navy);
  }

}

.countries {

  &__sidebar {
    @include flex-grid-column(3.5);
  }

  &__sidebar-title {
    @include TitleUnderline(rem-calc(50), $semple-pink, $semple-yellow);
  }

  &__sidebar-list {
    @include BodyTypeSS(rem-calc(30), $brand-navy);

    list-style-type: none;
    padding: 0;
  }
}